package-manager-strict=false
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=nice-napi
onlyBuiltDependencies[]=onnxruntime-node
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=re2
